.header
    position: fixed
    width: 100%
    top: 0
    left: 0
    color: $color-gray-1
    backdrop-filter: blur(15px)
    background: #0002
    color: #fff
    height: 64px
    z-index: 9999
    .wrap
        +flex(space-between, center)
        height: 100%
        .logo
        .group
            +flex(center, center)
            gap: 36px
            .nav
                +flex(center, center)
                gap: 24px
                .link
            .actions
                +flex(center, center)
                gap: 24px
                .login
                .register
                    background: $color-theme
                    color: $color-white
                    padding: 0.5em 2em
                    border-radius: $radius-1
                    cursor: pointer