.main
    background: #00f2 url("https://wallpapers.com/images/hd/chemistry-purple-gradient-flask-rb1isdv4j6zl3t75.jpg") no-repeat center center / cover
    background-blend-mode: darken
    height: 100vh
    .wrap
        height: 100%
        +flex(end, stretch)
        .group
            padding: 0 50px
            background: #fff5
            backdrop-filter: blur(30px)
            +flex(center, center, column)
            width: 50%
            gap: 30px
            .form
                +flex(center, center, column)
                gap: 20px
                width: 100%
                max-width: 300px
