// Colors

$color-theme: #0000cc

$color-black: #000000
$color-gray-1: #222222
$color-gray-2: #444444
$color-gray-3: #666666
$color-gray-4: #888888
$color-gray-5: #aaaaaa
$color-gray-6: #cccccc
$color-gray-7: #eeeeee
$color-white: #ffffff

$color-danger: #cc0000
$color-warning: #ff8800
$color-info: #0099cc
$color-success: #007e33

// Font Sizes

$font-size-1: 12px
$font-size-2: 14px
$font-size-3: 16px
$font-size-4: 20px
$font-size-5: 24px
$font-size-6: 32px
$font-size-7: 40px
$font-size-8: 48px
$font-size-9: 64px

// Font Families

$font-family-1: "Roboto", sans-serif
$font-family-2: "Montserrat", sans-serif

// Radius

$radius-1: 4px
$radius-2: 8px
$radius-3: 12px
$radius-4: 16px
$radius-5: 32px
$radius-full: calc(infinity * 1px)

// Transition

$fast: 0.3s
$slow: 0.8s

