// Colors

$color-theme-1: #00bb61
$color-theme-2: #c77400
$color-theme-3: #0003b7
$color-theme-4: #d8002b

$color-gray-1: #222222
$color-gray-2: #444444
$color-gray-3: #666666
$color-gray-4: #888888
$color-gray-5: #aaaaaa
$color-gray-6: #cccccc
$color-gray-7: #eeeeee

// Font Sizes

$font-size-1: 12px
$font-size-2: 14px
$font-size-3: 16px
$font-size-4: 20px
$font-size-5: 24px
$font-size-6: 32px
$font-size-7: 40px
$font-size-8: 48px
$font-size-9: 64px

// Font Families

$font-family-1: sans-serif
$font-family-2: sans-serif

// Radius

$radius-1: 4px
$radius-2: 8px
$radius-3: 12px
$radius-4: 16px
$radius-5: 32px
$radius-full: calc(infinity * 1px)

// Transition

$transition: 0.3s

